# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\squal\OneDrive\Documentos\MEGA\Engenharia Informatica\0. PROJETOS\POO\Avaliacoes\Projeto Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
